/* soft reset do css */
*{
    margin: 0;
    padding: 0;

}

body {
    background-color: palevioletred;
    background-size: auto 100vh;
    font-family: 'Assistant', sans-serif;
    height: 100vh;  
    font-size: 18px;
  }
  
  header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .menu {
    background-color: purple;
    position: fixed;
    width: 100vh;
    top: 0;
    z-index: 1;
  }
  
  a {
    color: whitesmoke;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .menu ul {
    display: flex;
    justify-content: space-around;
  }
  
  .menu li {
    list-style: none;
  }
  
  .menu a {
    display: block;
    padding: 10px 20px;
    transition: background-color 1s, color 1s;
  }

  .menu a:active,
  .menu a:hover {
    background-color: whitesmoke;
    color: purple;
  }

  /*animation
  .title {
    transform: scale(0.2) translateY(50vh);
    opacity: 0;
    animation: linear 2s animationTitle;
  }

  @keyframes animationTitle {
    100% {
      transform: scale(1) translateY(0);
      opacity: 1;
    }
  } */
  
  .site-subtitle,
  .site-title {
    color: whitesmoke;
    text-align: center;
  }
  
  .site-title {
    font-size: 4em;
    font-family: 'Major Mono Display', monospace;
  }

  .site-subtitle {
    font-family: 'Assistant', sans-serif;
  }

  .sobre,
  .contato,
  .projetos {
    padding: 2em;
    min-height: 100vh;
  }

  .sobre h2,
  .contato h2,
  .projetos h2 {
    font-family: 'Major Mono Display', monospace;
    color: purple;
    margin-bottom: 1.5em;
    font-size: 2em;
  }

  .sobre p {
    color: whitesmoke;
    text-indent: 1.4em;
    margin-bottom: 1.4em;
    text-align: justify;
  }

  .sobre a {
    color: whitesmoke;
    text-decoration: underline;
  }

  .sobre a:hover {
    background-color: whitesmoke;
    text-decoration: none;
  }

  .sobre .avatar {
    float: left;
    margin-right: 2em; 
  }

  .sobre .avatar img {
    border-radius: 50%;
    width: 30vh;
    height: 30vh;
  }

  .projetos figure {
    text-align: center;
  }

  .img-projetos {
    height: 180px;
    width: 250px;
    object-fit: cover;
    border-radius: 5px;
    transition: transform 1s;
  }

  .img-projetos:hover {
    transform: scale(1.1);
  }

  .contato .icons {
    text-align: center;
  }

  .contato a {
    color: purple;
    font-size: 4em;
  }

  .contato a:active,
  .contato a:hover {
    text-decoration: none;
    text-shadow: 0px 0px 5px whitesmoke;
  }
